{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}

{% block page_title %}
{% endblock %}

{% block page_subtitle %}
    <a href="{{ path('fos_user_security_logout') }}"><p>Logout</p></a>

{% endblock %}

{% block body %}

{% endblock %}

{% block javascripts_head %}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block javascripts_inline %}
{% endblock %}