{% extends 'AppBundle::layout.html.twig' %}

{% block title %}

{% endblock %}
{% block page_title %}
    Ringtones
{% endblock %}


{% block body %}


    <!-- /.box-header -->
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row ringtones-container">

            <div class="col-sm-12">
                <div class="box-header">
                    <h3 class="box-title"></h3>
            <span class="pull-right">
                                <a href="{{ path('ringtone_new') }}">
                                    <button class="btn btn-block btn-success">
                                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                    </button>
                                </a>
            </span>
                </div>
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                       aria-describedby="example1_info">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.title }}</td>
                            <td>{{ entity.price }}</td>
                            <td>
                                <a class="btn btn-info"
                                   href="{{ path('ringtone_edit', { 'id': entity.id }) }}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}




{% block javascripts_inline %}
{% endblock %}
